[submodule "Dependencies/Capstone/Capstone"]
	path = Dependencies/Capstone/Capstone
	url = https://github.com/aquynh/capstone.git
[submodule "Dependencies/ODLib"]
	path = Dependencies/ODLib
	url = https://github.com/WopsS/ODLib.git
